/**
 * Base Theme Customizations
 * Reference: https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
 */

/* General Color Variables */
:root {
    --vp-c-gutter: var(--vp-c-divider);
    --vp-code-block-bg: rgba(125, 125, 125, 0.04);
    --vp-code-tab-divider: var(--vp-c-divider);
    --vp-code-copy-code-bg: rgba(125, 125, 125, 0.1);
    --vp-code-copy-code-hover-bg: rgba(125, 125, 125, 0.2);
    --vp-c-disabled-bg: rgba(125, 125, 125, 0.2);
    --vp-code-tab-text-color: var(--vp-c-text-2);
    --vp-code-tab-active-text-color: var(--vp-c-text-1);
    --vp-code-tab-hover-text-color: var(--vp-c-text-1);
    --vp-code-copy-code-active-text: var(--vp-c-text-2);
    --vp-c-text-dark-3: rgba(56, 56, 56, 0.8);
    --vp-c-brand-lightest: var(--vp-c-brand);
    --vp-c-highlight-bg: var(--vp-c-brand-light);
    --vp-c-highlight-text: var(--vp-c-bg);
    --vp-button-brand-border: var(--vp-c-brand-light);
    --vp-button-brand-text: var(--vp-c-white);
    --vp-button-brand-bg: var(--vp-c-brand);
    --vp-button-brand-hover-bg: var(--vp-c-brand-light);
    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: linear-gradient(
        120deg,
        var(--vp-c-brand) 30%,
        var(--vp-c-brand-next)
    );
    --vp-home-hero-image-background-image: linear-gradient(
        -45deg,
        var(--vp-c-brand) 30%,
        var(--vp-c-brand-next)
    );
    --vp-home-hero-image-filter: blur(80px);
    --vp-custom-block-tip-border: var(--vp-c-brand);
    --vp-custom-block-tip-text: var(--vp-c-brand-darker);
    --vp-custom-block-tip-bg: var(--vp-c-brand-dimm);
}

/* Dark Mode Adjustments */
.dark {
    --vp-code-block-bg: rgba(0, 0, 0, 0.2);
    --vp-c-text-code: #c0cec0;
    --vp-code-tab-text-color: var(--vp-c-text-dark-2);
    --vp-code-tab-active-text-color: var(--vp-c-text-dark-1);
    --vp-code-tab-hover-text-color: var(--vp-c-text-dark-1);
    --vp-code-copy-code-active-text: var(--vp-c-text-dark-2);
    --vp-c-text-dark-3: var(--vp-c-text-dark-2);
    --vp-custom-block-tip-text: var(--vp-c-brand-lightest);
}

/* Responsive Adjustments */
@media (min-width: 640px) {
    :root {
        --vp-home-hero-image-filter: blur(120px);
    }
}

/* Adjust for Safari & Firefox performance */
.browser-safari,
.browser-firefox {
    --vp-home-hero-image-background-image: transparent;
    --vp-home-hero-image-filter: none;
}

/* Search Component Styles */
.DocSearch {
    --docsearch-primary-color: var(--vp-c-brand) !important;
}
